---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Films">
    <main class="flex flex-col items-center mt-10">
        <img src="/films.webp" alt="films" class="w-1/2 block mt-5 ">
        <ul role="list" class="pt-5 text-center bor mx-10 w-1/2 flex flex-col gap-5">
            <Card href="/Films/watched" title="Watched" body="" />
            <Card href="/Films/watchlist" title="watchlist" body="" />
        </ul>
        
    </main>
</Layout>



