---
import Layout from "../layouts/Layout.astro";
---
<Layout>
<h1 class="text-center m-10 text-2xl">
    <p class="italic lg:mb-5 mb-2">"My precious!"</p>
    <span class="text-right">—Gollum referring to the Ring</span>
</h1>
</Layout>
