---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Welcome to My blog.">
	<main>
		<h1 class="text-center text-lg ">Welcome to <span class="text-gradient">My blog</span></h1>
		<ul role="list" class="link-card-grid">
			<Card href="/Movie" title="Movie" body="Movie Lists" /> 
			<Card href="https://astro.build/themes/" title="Integrations" body="Supercharge your project with new frameworks and libraries." /> 
			<Card href="https://astro.build/themes/" title="Themes" body="Explore a galaxy of community-built starter themes." /> 
			<Card href="https://astro.build/chat/" title="Chat" body="Come say hi to our amazing Discord community. ❤️" />
		</ul>
	</main>
</Layout>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
    	padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
