---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";

---

<Layout title='My Collection(building...)'>
    <div class="flex flex-wrap">
        <Card name="影" img="/film.webp" href="/Films/watched"/>
        <Card name="乐" img="/Beatles.jpg" href="/Music/Music"/>
        <Card name="书" img="/book.avif" href="/Books/Books"/>
        <Card name="玩" img="/chrono.avif" href="/Games/Games" />
    </div>
    <div class="text-center mb-10">
        <p class="mb-5">other things...</p>
        <ul class="flex ">
            <li class="flex-1">
                <a href="/Films/What-to-watch
                ">想看</a>
            </li>
            <li class="flex-1">
                <a href="/Books/想读
                ">想读</a>
            </li>
            <li class="flex-1">
                <a href="/Books/在读
                ">在读</a>
            </li>
            <li class="flex-1">
                <a href="/Books/有删减的书籍
                ">删减</a>
            </li>
            <li class="flex-1">
                <a href="/Books/立人书单
                ">立人</a>
            </li>
            <li class="flex-1">
                <a href="/Books/政治哲学书单
                ">政治</a>
            </li>
        </ul>
    </div>
</Layout>