---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";

---

<Layout title='My Collection(building...)'>
    <div class="flex flex-wrap">
        <Card name="影" img="/film.webp" href="/Films/watched"/>
        <Card name="乐" img="/Beatles.jpg" href="/Music/Music"/>
        <Card name="书" img="/book.avif" href="/Books/Books"/>
        <Card name="玩" img="/chrono.avif" href="/Games/Games" />
    </div>
</Layout>