---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card"

---

<Layout title='Home'>
    <div class="lg:flex">
        <Card name="影" img="/film.webp" />
        <Card name="乐" img="/Beatles.jpg" />
        <Card name="书" img="/book.avif" />
    </div>
</Layout>