---
import Layout from "../../layouts/Layout.astro";
import * as markdown from './Books.md';



---

<Layout title={markdown.frontmatter.title}>
    <div class="pb-5 ">
        <div class="text-right pr-4">Update on: {markdown.frontmatter.date}</div>
        <div class="flex ">
            <markdown.Content />
        </div>
    </div>

    <!-- <List markdown={`#test`}/> -->
</Layout>

<style>
    div.flex {
        justify-content: center;
    }
</style>