---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Movie">
    <main >
        <ul role="list" class="m-5 mt-10 content-center h-56 grid-cols-2 grid gap-4">
            <Card href="/Movie/watched" title="Watched" body="" />
        </ul>
    </main>
</Layout>



