---
// src/layouts/BaseLayout.astro
// 1. The content prop gives access to frontmatter data
const { content } = Astro.props;
---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{content.title}</title>
  </head>
  <body class="bg-gray-300">
    <!-- Add other UI components here, like common headers and footers. -->
    <h1 class="text-xl font-bold text-center mx-auto mt-10 ">{content.title}</h1>
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <div class="pt-10 text-center flex justify-center">
    <slot />
    </div>
    <p class="pt-5 text-center ">Written on: {content.date}</p>
  </body>
</html>



