---
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1,width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
</head>

<body>
  <header class="w-full bg-gray-900 text-slate-300  py-2" >
    <h1 class="mx-3 text-2xl">My Collection</h1>
  </header>


  <slot />
</body>

</html>